/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  line-height: 1.6em;
  color: $text-grey;
  background-color: #FFF;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

 // Wrappers
 .page-wrapper {
  max-width: 1080px;
  margin: 0 auto;
 }

 // Padding

 .padded-top {
  padding-top: 50px;
 }

.padded-bottom {
  padding-bottom: 50px;
}

