/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
  //headings

  body{
    color: $body;
  }

  h1{
    font-family: sans-serif;
    line-height: 32px;
    padding-bottom: 10px;
    font-weight: lighter;
  }

 // Wrappers
 .page-wrapper {
  max-width: 1080px;
  margin: 0 auto;
 }

 // Padding

 .padded-top {
  padding-top: 50px;
 }

.padded-bottom {
  padding-bottom: 50px;
}

