<div class="banner">
  <div class="banner-content text-left">
    <h1>Experience life.</h1>
    <p>Learn the more radical sports in your are.</p>
    <%= render 'shared/search-form' %>
  </div>
</div>

