<footer>
  <div>
    <span class="copyright">&copy; Fly Radical</span>
  </div>
  <div>
      <ul class="list-inline social-buttons">
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-facebook" title="Facebook"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-twitter" title="Twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-instagram" title="Instagram"></i>
            </a>
          </li>
      </ul>
  </div>
</footer>
