<div class="search-form">
  <form action=/s method="get">
    <div class="search-form-wrapper">
      <div class="search-form-row">
        <div class="search-form-location">
          <label class="search-form-label text-left">
            <span>Where?</span>
          </label>
          <div>
            <input id="geo-search" class="location-input input-large" name="location" type="text" placeholder="Destination, City, Address">
            <div class="dropdown-wrapper"></div>
          </div>
        </div>
        <div class="search-form-activity">
          <label class="search-form-label">
            <span>What?</span>
          </label>
          <div>
            <input class="activity-input input-large" name="activity" type="text" placeholder="Skydiving, Climbing, Surfing">
          </div>
        </div>
        <div class="search-form-submit">
          <button type="submit" class="btn btn-large btn-primary button-red">
            <span class="search-form-submit-text">Search</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<%= content_for(:before_js) do %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
<% end %>


