.section-form
  form(method='post', action='#')
    .intro
      h1 Ready to go?
      h2 Get your project started today
    input(type='text', value='', placeholder='Name', name='name', tabindex='1')
    input(type='text', value='', placeholder='E-mail', name='email', tabindex='3')
    input(type='text', value='', placeholder='Budget', name='budget', tabindex='2')
    textarea(placeholder='Message', name='Message', tabindex='5', rows='10')
    input(type='button', value='Send Mail', tabindex='6')

