<div class="col-sm-4 col-xs-6 card-border">
  <%= link_to school_lesson_path(lesson.school, lesson) do %>
    <div>
      <% if lesson.photos.any? %>

        <%= cl_image_tag(lesson.photos.first.path, width: 350, height: 200, crop: :fill) %>
        <% end %>
    </div>
    <div>
      <span>
        <strong>€<%= lesson.price %></strong>
         &middot;
        <%= lesson.name.titleize %><br>
      </span>
    </div>
  <% end %>

</div>
