<div class="col-xs-6 col-sm-4 card container drop-shadow"  style="width: 30rem;">
  <%= link_to school_lesson_path(lesson.school, lesson) do %>
  <img class="card-img-top">
  <% if lesson.photos.any? %>
    <%= cl_image_tag lesson.photos.first.path, class: "img-responsive" %>
    <% end %>
  <% end %>
  <div class="card-block">
    <h2 class="card-title"><%= lesson.name.upcase %></h2>
  </div>
  <p>School: <%= lesson.school.name %></p>
</div>
