<div class="col-sm-4 col-xs-6 card-border">
  <%= link_to school_lesson_path(lesson.school, lesson) do %>
    <div>
      <% if lesson.photos.any? %>
        <%= cl_image_tag(lesson.photos.first.path, width: :auto, crop: :scale, aspect_ratio: "16:9", responsive: :true, responsive_placeholder: "blank") %>
        <% end %>
    </div>
    <div>
      <span>
        <strong>€<%= lesson.price %></strong>
         &middot;
        <%= lesson.name %>
      </span>
    </div>
  <% end %>
</div>
