<div class="card col-xs-6 col-sm-4 card card-border" style="width: 35rem;">
<%= link_to school_path(school) do %>
    <img class="card-img-top img-responsive">
    <% if school.photos.any? %>
    <%= cl_image_tag school.photos.first.path, width: 350, height: 200, crop: :fill %>
    <% end %>


    <div class="card-block">
      <h4 class="card-title"><%= school.name.titleize %></h4>
    </div>
    <% end %>
    <p style="color: #484848; font-size: 13px;">Added by <%= school.name%></p>
</div>
