.btn-brand {
  color: #ffffff;
  background: $brand-color;
  text-decoration: none;
  border: 1px solid $brand-color;
  font-weight: lighter;
}

.btn-outline{
  border: 1px solid $brand-color;
  color: $brand-color;
  font-weight: lighter;
}

.btn-brand:hover, .btn-outline:hover{
  color: #ffffff;
  background-color: $brand-color;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid $brand-color;
}
