<h1>Lesson Slot</h1>
<p>Your lesson slot have been booked!</p>
<div class="col-md-12">
  <div class="lesson">
  <% @booked_slots.each do |s| %>
  <%= render "lesson_slots", slot: s %>
  <% end %>
  </div>
</div>

